html{
  background-color: #F5F1E3;
  margin:0;
  scroll-behavior: smooth;
  overflow-y: visible;
}
h1{
  font-family: 'Montserrat', sans-serif;
}
h2{
  font-family: 'Baloo Bhaijaan 2', cursive;
}
h3{
  font-family: 'Baloo Bhaijaan 2', cursive;
  float:right;
  background-color: #F5F1E3;
  color: #1b9aaa;
}
p{
  font-family: 'Baloo Bhaijaan 2', cursive;
  float: right;
  font-size: 1vw;
}
a{
  color:#050505;
  font-family: 'Baloo Bhaijaan 2', cursive;
}
img{
float:left;
border: 2px solid #1b9aaa;
}
div{
  background-color: #F5F1E3;
}
/*grid settings (splits page into two segments occupying about 80/20 percent respectively)*/
.gridCont{
  margin:0;
  display:grid;
  grid-template-areas:
  'side main main main main'
  'side main main main main'
  'side main main main main';
  grid-gap: 1vw;
  background-color: #DDDBCB;
}
.queryForm{
  grid-area: side;
  padding:20px;
  margin:0;
  border-right: 2px solid #1b9aaa;
  background-color: #1b9aaa;
  overflow-y: hidden;
}
.form-group{
    background-color: #1b9aaa;
}
label{
    font-family: 'Montserrat', sans-serif;
}
small{
  font-family: 'Baloo Bhaijaan 2', cursive;
}
.mainCont{
  grid-area: main;
  overflow-y: hidden;
  height: 100%;
  background-color: #DDDBCB;
}
/*  trending anime carousel */
section img {
  display: block;
  width: 200px;
  height:400px;
  margin: .25vw;
}
section {
  width: 100%;
  overflow: hidden;
  box-shadow: 0 -5px 40px -5px grey;
  text-align: center;
}
article {
  display: flex;
  width: 200%;
  animation: bannermove 20s linear infinite;
}

article.paused {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

section div {
  width: 100%;
}

section ul {
  display: flex;
  background: #dddbcb;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

section li {
  width: 80%;
  background: white;
}

section li:nth-child(2) {
  background: white;
}

section li:nth-child(3) {
  background: white;
}
/* anime slideshow individual item styling */
.animeCaro1{
  background-color: #dddbcb;
}
.animeCaro2{
    background-color: #dddbcb;
}
.animeContainer{
  padding: 15px 30px;
  margin-right: 20px;
  height:13%;
}
.AnimeTextContainer{
  float: right;
  width: 80%;
}
@keyframes "bannermove" {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
#paginationQuery{
  position: fixed;
  bottom: 0;
  left:50%;
}
.pagination{
  display:none;
}
/* collapse menu styling*/
.mainCont{
  animation: collapseMenu 10s linear;
}
@@keyframes collapseMenu {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }

}
