html{
  background-color: lightGrey;
}
/*grid settings (splits page into two segments occupying about 80/20 percent respectively)*/
.gridCont{
  display:grid;
  grid-template-areas:
  'side main main main main'
  'side main main main main'
  'side main main main main';
  grid-gap: 1vw;
  padding:10px;
}
.queryForm{
  grid-area: side;
}
.mainCont{
  grid-area: main;
  overflow-y: scroll;
  height: 100%;
}
.animeContainer{
  display:block;
}
/*  trending anime carousel */
section img {
  display: block;
  width: 200px;
  height:400px;
  margin: .25vw;
}
section {
  width: 100%;
  overflow: hidden;
  background-color: white;
  box-shadow: 0 -5px 40px -5px grey;
  text-align: center;
}
article {
  display: flex;
  width: 200%;
  animation: bannermove 20s linear infinite;
}

article.paused {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

section div {
  width: 100%;
}

section ul {
  display: flex;
  background: white;
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

section li {
  width: 80%;
  background: white;
}

section li:nth-child(2) {
  background: white;
}

section li:nth-child(3) {
  background: white;
}

@keyframes "bannermove" {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
#paginationQuery{
  display: none;
  position: fixed;
  bottom: 0;
  left:50%;
}
